.bg-name{
  margin: auto;
  background-image: url('./assets/img/bg.png');
  background-repeat: no-repeat;
  background-position-x: right;
}
.float-left{
    float: left;
}
.ruby{
    display: ruby;
}
.p-t-15{
    padding-top: 15%;
}
.p-left-7{
    padding: 0rem 7rem;
}
.xxx:last-of-type{
    border: 1px solid #62360F;
}
.p-l-5{
    padding-left: 5rem;
}
.p-l-10{
    padding-left: 10rem;
}
.p-l-1{
    padding-left: 1rem;
}
.m-w-6{
    max-width: 6rem;
}
.m-h-f{
    max-height: fit-content
}
.titleCss{
    color: #62360F;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}
.title2 {
    font-size: 35px;
    font-weight: 700;
    line-height: 52px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.title3{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #232323;
    margin-top: 1rem;

}
.title4{
font-size: 14px;
font-weight: 600;
line-height: 20px;
text-align: left;
color: #62360F;


}
.Custombtn{
    width:100%;
    padding: 20px 50px 20px 50px;
    background: #62360F;
    color: #fff;
    position: relative;
}
.Custombtn:after {
    content: "";
    position: absolute;
    width: 100%;
    top: 7px;
    left: 7px;
    height: 100%;
    border:2px solid #62360F;
    transition: all 0.35s;
  }
.Custombtn1{
    width: 200px;
    height: 63px;
    padding: 20px;
    display: ruby;
}
.classBox{
    display: inline-flex;
}
.classyears{
    font-size: 50px;
    font-weight: 700;
    line-height: 52px;
    text-align: left;
    color: #62360F;
}
.classyears2{
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    color: #232323;

}
.pad-margin-left{
    padding: 20% 0px;
    margin-left: 3rem;
}
.pt-7{
    padding-top: 8rem;
}

.quote{
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    text-align: left;
    position: relative;
    margin-left: 1rem;
    padding: 30px 60px;
    margin-top: 1rem;
    background-color:  #FFEEC0;
}
.quoteimg{
    position: absolute;
    right: 6rem;
    bottom: 3rem;
    
}

  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: auto auto; 
    gap: 37px; 
  }
  .position-r{
    position: relative;
  }
  
  .grid-container img:nth-child(1) {
    grid-column: 1 / span 2; /* Make the third image span across both columns */
    justify-self: center; /* Center the third image horizontally */
    width: 60%;
  }
  .mt-8{
    margin-top: 4rem;

  }
  .border-right-none{
    border-right: none !important;
  }
.grid-container::after {
    content: "";
    position: absolute;
    bottom: 9rem;
    left: 4rem;
    right: 5rem;
    height: 44%;
    border: 2px solid #62360F;
    transition: all 0.35s;
    z-index: -1;
  }
  .p-m-b-10{
    padding-right: 10px;
    margin-bottom: 10px;
  }
  .text-left {
    text-align: left;
  }
  .m-r-2{
    margin-right: 2rem
  }
  .m-l-3 {
    margin-left: 3rem;
  }
.explorehead {
    font-size: 50px;
    font-weight: 500;
    line-height: 83.33px;
    text-align: center;
    color: #0E0E0E;
}
.border-full{
    border: 1px solid #62360F;
}
.border-full-3{
    border: 3px solid #62360F;
}
.image-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.test{
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    color: #62360F;
    }
    .testhead{
    font-size: 50px;
    font-weight: 700;
    line-height: 52px;
    text-align: left;
    color:#06150A;
    }
    .rating{
        width: 440px;
    height: 320px;
    top: 132px;
    left: 2px;
    gap: 0px;
    opacity: 0px;
    display: inline-flex;
    border:1px solid
    } 
    .mt-2{
        margin-top: 1rem;
    }
  .mt-3{
    margin-top: -3rem;
  }
  .pos-relative{
    position: relative;
  }
  .blog-image{
    position: absolute;
    bottom: 30px;
    text-align: center;
    padding: 15px 30px;
  }
  .blog-image p{
    color: #fff;
    padding-right: 40px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;

  }
  .blog-image h2 {
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: #fff;
  }
.img-css{
    webkit-mask-image: linear-gradient(#d5cccc1f, transparent);
    mask-image: linear-gradient(#000000fc, #00000080);
}
.text-color-green{
    color: #008929;
}
.title-green{
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #008929;
}
.desc-class{
    font-size: 50px;
    font-weight: 700;
    line-height: 52px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}
.bg-footer{
    background: #232323;
}
.text-yel{
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color:  #FFEEC0;
}
.height30rem{
    width: 20rem;
    height: 15rem;
}
.ddd{
    display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid green; 
}
.-mt-3 {
    margin-top: -3rem;
}
.farmour-title{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #06150A;

}
.farmour-designation{
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #62360F;

}
 
.testhead1{
font-size: 18px;
font-weight: 700;
line-height: 23.44px;
text-align: left;
color: #62360F;
/* display: flex; */
}
@media screen and (max-width: 1024px) {
  .p-l-10 {
    padding-left: 0;
  }
  .m-l-3{
    margin-left: 0;
  }
  .pad-margin-left{
    margin-left: 3rem
  }
  .border-full{
    border: 1px solid #62360F !important;
  }
  .p-l-5{
    padding-left: 0;
  }
}